@import 'vendors/vendor-pack.scss';
@import 'abstracts/abstracts-pack.scss';
@import 'base/base-package.scss';
@import 'components/components-packs.scss';
@import 'layout/layout-packs.scss';
@import 'pages/pages-pack.scss';

// body{
//     overflow: hidden;
// }

main{
   @media (min-width:768px){
    height: 100vh;
   }
    // @media(max-width:768px){
    //     height: auto;
    // }
}

.section_container{
    @media(min-width:768px){
       display: flex;
       height: 100%;
    }
}